<div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Reset Your Password</h1>
    <br>
    <form>
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="repassword" placeholder="Enter Password Again">
      <input type="submit" name="resetpassword" class="login loginmodal-submit" value="Reset Password">
    </form>
    <div class="login-help">
      <a routerLink="/signup">Not Having Account?</a> -
      <a routerLink="/login">Login</a>
    </div>
  </div>
</div>
