/InteroperabilityProjectClient/build/classes/com/interoperability/stocks/*.class
/InteroperabilityProject/.settings/.jsdtscope
/InteroperabilityProject/.settings/org.eclipse.jdt.core.prefs
/InteroperabilityProject/.settings/org.eclipse.wst.common.component
/InteroperabilityProject/.settings/org.eclipse.wst.common.project.facet.core.xml
/InteroperabilityProject/.settings/org.eclipse.wst.jsdt.ui.superType.container
/InteroperabilityProject/.settings/org.eclipse.wst.jsdt.ui.superType.name
/InteroperabilityProjectClient/.settings/.jsdtscope
/InteroperabilityProjectClient/.settings/org.eclipse.core.resources.prefs
/InteroperabilityProjectClient/.settings/org.eclipse.jdt.core.prefs
/InteroperabilityProjectClient/.settings/org.eclipse.wst.common.component
/InteroperabilityProjectClient/.settings/org.eclipse.wst.common.project.facet.core.xml
/InteroperabilityProjectClient/.settings/org.eclipse.wst.jsdt.ui.superType.container
/InteroperabilityProjectClient/.settings/org.eclipse.wst.jsdt.ui.superType.name
/InteroperabilityProjectClient/.settings/org.jboss.ide.eclipse.as.core.prefs
